@{
    ViewBag.Title = "Contact";
}


<html>
<head>
    <title>
        Help
    </title>
</head>
<body style=background-color:#222222;>
    <br />
    <br />
    <!--Collapse for contact us-->
    <div class="container">
        <button type="button" class="btn" data-toggle="collapse" data-target="#contact">
            Contact Us
        </button>
        <div id="contact" class="collapse">
            <p style="color:white">Add some stuff here. Link to GitHub</p>
        </div>
    </div>
    <br />
    <!--Collapse for FAQ1-->
    <div class="container">
        <button type="button" class="btn" data-toggle="collapse" data-target="#faq1">
            FAQ 1
        </button>
        <div id="faq1" class="collapse">
            <p style="color:white">Answer to faq 1</p>
        </div>
    </div>
    <br />
    <!--Collapse for FAQ2-->
    <div class="container">
        <button type="button" class="btn" data-toggle="collapse" data-target="#faq2">
            FAQ 2
        </button>
        <div id="faq2" class="collapse">
            <p style="color:white">Answer to faq 2</p>
        </div>
    </div>
    <br />
</body>
</html>